## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家': pd.Series(['美國', '中國', '台灣']),
        '人口': np.random.randint(1000000,size=3)}
data = pd.DataFrame(data)
data.info()
data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
國家    3 non-null object
人口    3 non-null int32
dtypes: int32(1), object(1)
memory usage: 116.0+ bytes

(3, 2)

In [3]:
data.head(3)

   國家      人口
0  美國  205235
1  中國   50014
2  台灣  214794

In [4]:
data['人口'].idxmax()
data.iloc[[data['人口'].idxmax()]]

   國家      人口
2  台灣  214794